{% extends "layout/default.html" %}

{% block content %}
  <div class="form-wrapper">
    <h2 class="title">Magnet Update</h2>

    <form method="POST" action="{{ url_for('update_magnet', id=id) }}">
      <!-- {{ form.name(readonly=true) }} -->
      {{ form.csrf_token }}
      {% for field in form %}
        {% if field.label.text == "Name" %}
          <fieldset class="form-field">
            {{ field.label }}
            {{ field(readonly=true) }}
          </fieldset>
        {% elif field.label.text == "MParts" %}
          {% for sfield in form.mparts %}
          <fieldset class="form-field">
            {{ sfield.label }}
            {{ sfield }}
          </fieldset>
          {% endfor %}
        {% else %}
          <fieldset class="form-field">
              {{ field.label }}
              {{ field }}
          </fieldset>
        {% endif %}
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
