{
    "Channel{{i}}":
{
    "expr1":"hw*x:hw:x",
    "expr2":"x*hw*(Tw*(y<Zmin{{i}}) + (dTw/(Zmax{{i}}-Zmin{{i}})*(y-Zmin{{i}})+Tw)*(y>Zmin{{i}})*(y<Zmax{{i}}) + (Tw{{i}}+dTw)*(y>Zmax{{i}})):x:y:hw:Tw:dTw:Zmin{{i}}:Zmax{{i}}
}
}