{
    "Name": "Fully coupled Axi Stationnary model",
    "ShortName":"FullAxiStat",
    "Models":
    {
		"cfpdes":{
			"equations":["heat","magnetic","elastic"]
		},
		"heat":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pch1",
						"name":"temperature",
						"symbol":"T"
					}
				}
			},
			"models":[
				
			]
		},
		"magnetic":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pch2",
						"name":"phi",
						"symbol":"phi"
					}
				}
			},
			"models":[
				{
					"name":"magnetic_Air",
					"materials":"Air",
					"setup":{
						"coefficients":{
							"c":"x/mu0:x:mu0",
							"beta":"{2/mu0,0}:mu0"
						}
					}
				}
			]
		},
		"elastic":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pchv1",
						"name":"displacement",
						"symbol":"u"
					}
				}
			},
			"models":[
				
			]
		}
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}
		
		"T0":"293.",
		"Tin":"284.15"
    },
    "Materials":
    {
		"Air":
		{

		}
    },
    "BoundaryConditions":
    {
		"magnetic":
		{
		    "Dirichlet":
	    	{
				"magdir":
				{
		    		"markers":["ZAxis","Infty"],
		    		"expr":"0"
				}
			}
	    },
		"heat":
		{
	    	"Robin":
	    	{
				{{#boundary_Therm_Robin}}
				"{{name}}":
				{
					"expr1": "{{expr1}}",
					"expr2": "{{expr2}}"
				},
				{{/boundary_Therm_Robin}}
			}
		},
		"elastic":
		{
	    	"Dirichlet":
	    	{
				{{#boundary_Meca_Dir}}
				"{{name}}":
				{
					"expr": "{{value}}"
				},
				{{/boundary_Meca_Dir}}
	    	}
		}
    },
    "InitialConditions":
    {
		"heat":{
			"temperature":
			{
				"Expression":
				{
					"myic":
					{
						"markers": {{part_thermic}},
				"expr":"Tinit:Tinit"
					}
				}
			}
		}
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature","elastic.displacement"],
				"expr":
				{
		    		"atheta":"magnetic_phi/x:magnetic_phi:x",
		    		"B":
		    		{
						"expr":"{-magnetic_grad_phi_1/x,magnetic_grad_phi_0/x}:magnetic_grad_phi_0:magnetic_grad_phi_1:x",
						"representation":["element"]
		    		},
		    		"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers": {{part_electric}}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*materials_U/(2*pi*x):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Qth":
		    		{
						"expr":"materials_sigma*(materials_U/(2*pi*x))*(materials_U/(2*pi*x)):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Flaplace":
		    		{
						"expr":"{materials_F_laplace_0,materials_F_laplace_1}:materials_F_laplace_0:materials_F_laplace_1",
						"markers": {{part_electric}}
		    		},
		    		"stress":
		    		{
						"expr":"{materials_stress_rr,materials_stress_rz, materials_stress_rz,materials_stress_zz}:materials_stress_rr:materials_stress_rz:materials_stress_zz",
						"markers": {{part_thermic}},
						"representation":["element"]
		    		},
		    		"HoopStress":
		    		{
						"expr":"materials_stress_thth:materials_stress_thth",
						"markers": {{part_thermic}},
						"representation":["element"]
		    		},
		    		"Vonmises":
		    		{
						"expr": "sqrt(1/2*((materials_stress1-materials_stress2)*(materials_stress1-materials_stress2)+(materials_stress2-materials_stress3)*(materials_stress2-materials_stress3)+(materials_stress1-materials_stress3)*(materials_stress1-materials_stress3))):materials_stress1:materials_stress2:materials_stress3",
						"markers": {{part_thermic}},
						"representation":["element"]
		    		},
		    		"strain":
		    		{
						"expr":"{elastic_grad_u_00,1/2*(elastic_grad_u_01+elastic_grad_u_10), 1/2*(elastic_grad_u_01+elastic_grad_u_10),elastic_grad_u_11}:elastic_grad_u_00:elastic_grad_u_01:elastic_grad_u_10:elastic_grad_u_11",
						"markers": {{part_thermic}},
						"representation":["element"]
		    		},
				"HoopStrain":
				{
						"expr": "elastic_u_0/x:x:elastic_u_0",
						"markers": {{part_thermic}},
						"representation":["element"]
				}
				}
	    	}
		},
		"magnetic":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["phi"]
				}
	    	},
		"Points":
		{
		                "B0":
				{
				"coord":"{0,0}",
				"fields":[],
				"expressions":
				{
				"Bz": "magnetic_grad_Atheta_0+magnetic_Atheta/x:magnetic_Atheta:magnetic_grad_Atheta_0:magnetic_grad_Atheta_1:x"
				}
				}
		},
	    	"Measures": 
	    	{
				"Statistics":
				{
		    		"MagneticEnergy":
		    		{
						"type":"integrate",
						"expr":"-2*pi*magnetic_phi/x*materials_sigma*(materials_U/2/pi):magnetic_phi:materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		}
				}
	    	}
		},
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
		    		"Power":
				    {
        				"type": "integrate",
        				"expr": "2*pi*materials_sigma*(materials_U/2/pi)*(materials_U/2/pi)/x:materials_sigma:materials_U:x",
        				"markers": {{part_electric}}
    				},
				"MeanT": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		}
				}
	    	}
		},
		"elastic":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["displacement"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
		    		"MeanDispl": 
		    		{
						"type":["min","max","mean"], 
						"field":"displacement" 
		    		},
		    		"MeanStress": 
		    		{
						"type":["min","max","mean"], 
						"expr":"materials_stress_thth:materials_stress_thth" 
		    		}
				}
	    	}
		}
    }
}
