{
    "name":"magnetic_{{name}}",
    "materials":"{{name}}",
    "setup":{
        "coefficients":{
            "c":"x/materials_{{name}}_mu:x:materials_{{name}}_mu",
            "beta":"{2/materials_{{name}}_mu,0}:materials_{{name}}_mu",
            "f":"materials_{{name}}_j_th*x*x:materials_{{name}}_j_th:x"
        }
    }
}