[submodule "python_magnetgeo"]
	path = python_magnetgeo
	url = git@github.com:Trophime/python_magnetgeo.git
[submodule "python_magnetsetup"]
	path = python_magnetsetup
	url = git@github.com:Trophime/python_magnetsetup.git
[submodule "python_magnetapi"]
	path = python_magnetapi
	url = git@github.com:Trophime/python_magnetapi.git
