{
    "Channel{{i}}":
{
    "expr1":"h{{i}}:h{{i}}",
    "expr2":"x*h{{i}}*(Tw{{i}}*(z<Zmin{{i}}) + (dTw{{i}}/(Zmax{{i}}-Zmin{{i}})*(z-Zmin{{i}})+Tw{{i}})*(z>Zmin{{i}})*(z<Zmax{{i}}) + (Tw{{i}}+dTw{{i}})*(z>Zmax{{i}})):z:h{{i}}:Tw{{i}}:dTw{{i}}:Zmin{{i}}:Zmax{{i}}
}
}