{
    "Stats_Power":
    {
    {{#Power_H}}
    "{{header}}": 
    {
        "type": "integrate",
        "expr": "materials_sigma*(electric_grad_V_0*electric_grad_V_0+electric_grad_V_1*electric_grad_V_1+electric_grad_V_2*electric_grad_V_2):materials_sigma:electric_grad_V_0:electric_grad_V_1:electric_grad_V_2",
        "markers": {{markers}}
    },
    {{/Power_H}}
    }
}
                    