{
    "Stats_Current":
    {
    {{#Current_H}}
    "Intensity_%1%": 
    {
        "type": "integrate",
        "expr": "-materials_sigma*(electric_grad_V_0*nx+electric_grad_V_1*ny+electric_grad_V_2*nz):materials_sigma:electric_grad_V_0:electric_grad_V_1:electric_grad_V_2:nx:ny:nz",
        "markers": "%1%",
        "index1": {{part_electric}}
    },
    {{/Current_H}}
    }
}
                    