{
    "Channel{{i}}":
{
    "expr1":"h{{i}}*x:h{{i}}:x",
    "expr2":"x*h{{i}}*(Tw{{i}}*(y<Zmin{{i}}) + (dTw{{i}}/(Zmax{{i}}-Zmin{{i}})*(y-Zmin{{i}})+Tw{{i}})*(y>Zmin{{i}})*(y<Zmax{{i}}) + (Tw{{i}}+dTw{{i}})*(y>Zmax{{i}})):x:y:h{{i}}:Tw{{i}}:dTw{{i}}:Zmin{{i}}:Zmax{{i}}"
}
}