{
    "{{name}}":
{
    "sigma":"{{ElectricalConductivity}}",
    "k":"{{ThermalConductivity}}",
    "mu": "{{MagnetPermeability}}*mu0:mu0",

    "U":"U_{{name}}:U_{{name}}",

    "j_th":"-sigma*U/2/pi/x:sigma:U:x"
}
}
