{
	"Or": 
	{
		"over_geometry": 
		{
			"segment": 
			{
				"point1":"{0,0,0}", 
				"point2":"{{{Rinf}},0,0}", 
				"n_points":"{{NR}}" 
			}
		},
		"fields":"phi", 
		"expressions": 
		{
			"B":"{-magnetic_grad_phi_1/x,magnetic_grad_phi_0/x}:magnetic_grad_phi_0:magnetic_grad_phi_1:x"
		},
		"include_coordinates":1, 
		"output": 
		{
			"type":"table" 
		}
	},
	"Oz": 
	{
		"over_geometry": 
		{
			"segment": 
			{
				"point1":"{0,0,-{{Zinf}}}", 
				"point2":"{0,0,{{Zinf}}}", 
				"n_points":"{{NZ}}" 
			}
		},
		"fields":"phi", 
		"expressions": 
		{
			"B":""{-magnetic_grad_phi_1/x,magnetic_grad_phi_0/x}:magnetic_grad_phi_0:magnetic_grad_phi_1:x"
		},
		"include_coordinates":1, 
		"output": 
		{
			"type":"table" 
		}
	}
}