<!doctype html>
<html lang="en" data-lt-installed="true">
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style1.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style2.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style3.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style4.css') }}">
  <script type="text/javascript" src="{{ url_for('static',filename='js/styles.js') }}"></script>
</head>
<body>

<div class="container wrapper">
  <div id="top">
    <h1>Welcome to MagnetDb</h1>
    <p>Use the menu to select different operations</p>
  </div>
  <div class="wrapper">
   <div id="menubar">
     <ul id="menulist">
       <li class="menuitem" onclick="location.href='index.html';">Main</li>
       <li class="menuitem" onclick="location.href='msites.html';" >MSites</li>
       <li class="menuitem" onclick="location.href='magnets.html';" >Magnets</li>
       <li class="menuitem" onclick="location.href='mparts.html';" >MParts</li>
       <li class="menuitem" onclick="location.href='materials.html';" >Materials</li>
       <li class="menuitem" onclick="location.href='mrecords.html';" >MRecords</li>
       <li class="menuitem" onclick="location.href='api.html';" >API docs</li>
       <li class="menuitem" >
<label for="style-select">Stylesheet:</label>

<select name="styles" id="style-select"
    <option value="">-Select-</option>
    <option value="0" onclick="reStyle(0)">Style0</option>
    <option value="1" onclick="reStyle(1)">Style1</option>
    <option value="2" onclick="reStyle(2)">Style2</option>
    <option value="3" onclick="reStyle(3)">Style3</option>
    <option value="no" onclick="noStyles()">No Style</option>
</select>
</li>
       </ul>
    </div>
    <div id="materials">
      <h1>List of Materials</h1>
      <ul id="materials">
        {% for item in materials %}
        <li><a href="material/{{item.id}}">{{item.name}}</a></li>
        {% endfor %}    
    </ul>
   </div>
    <div id="sidebar">
      <h3>Side-Bar</h3>
      <p>This is a prototype designed with Flask and SQLModel.</p>
    </div>
  </div>  
  
  
  <div id="bottom">
    Bottom note. Use github to report issues or pbs
  </div>
</div>

</body>
</html>
<!doctype html>
<html lang="en">
    <head>
        <title>Materials from magnetdb</title>
    </head>
    
    <body>
        <ul id="materials">
            {% for item in materials %}
            <li><a href="material/{{item.id}}">{{item.name}}</a></li>
            {% endfor %}    
        </ul>
    </body>
</html>
