<html lang="en" data-lt-installed="true">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/style1.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/style2.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/style3.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/style4.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/table.css') }}">
      <script type="text/javascript" src="{{ url_for('static', path='js/styles.js') }}"></script>
    </head>
  <body>

    <div class="container wrapper">
      <div id="top">
        <h1>Welcome to MagnetDb</h1>
        <p>Use the menu to select different operations</p>
      </div>
      <div class="wrapper">
        <div id="menubar">
          <ul id="menulist">
            <li class="menuitem" onclick="location.href='../index.html';">Main</li>
            <li class="menuitem" onclick="location.href='../msites.html';">MSites</li>
            <li class="menuitem" onclick="location.href='../magnets.html';">Magnets</li>
            <li class="menuitem" onclick="location.href='../mparts.html';">MParts</li>
            <li class="menuitem">Materials</li>
            <li class="menuitem" onclick="location.href='../mrecords.html';">MRecords</li>
            <li class="menuitem" onclick="location.href='../api.html';">API docs</li>
            <li class="menuitem">
              <label for="style-select">Stylesheet:</label>

              <select name="styles" id="style-select">
                <option value="">-Select-</option>
                <option value="0" onclick="reStyle(0)">Style0</option>
                <option value="1" onclick="reStyle(1)">Style1</option>
                <option value="2" onclick="reStyle(2)">Style2</option>
                <option value="3" onclick="reStyle(3)">Style3</option>
                <option value="no" onclick="noStyles()">No Style</option>
              </select>
            </li>
          </ul>
        </div>
        <div id="main">
          <h1>Material Definition: {{ material['name'] }}.</h1>
          <p>
          <ul id="material_props">
            <table>
              {% for key, value in material.items() %}
                <tr>
                  <th>{{ key }} {{ unit[key] }}</th>
                  <td>{{ value }}</td>
                </tr>
              {% endfor %}
            </table>
          </ul>
          <button type="button" onclick="window.location.href='{{ url_for('edit_material', id=material_id) }}';">
            Update
          </button>
          </p>
        </div>
        <div id="sidebar">
          <h3>Side-Bar</h3>
          <p>This is a prototype designed with Flask and SQLModel.</p>
        </div>
      </div>


      <div id="bottom">
        Bottom note. Use github to report issues or pbs
      </div>
    </div>

  </body>
</html>
