<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
    <title>Material Definition: {{material['name']}}.</title>
</head>
<body>
    <h1>Update Material Definition</h1>
    <form action="/material/update" method="POST">
    {% for key, value in material.items() %}
    <div class="form-group">
              <label>{{key}}</label>
              <input type="txt" class="form-control" id={{key}} name={{value}} placeholder="Enter a value in SI">
            </div>
    {% endfor %}
    </form>
        
    <button type="button" >Apply</button>
    
</body>
</html>
