<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
    <title>Material Definition: {{material['name']}}.</title>
</head>
<body>
    <h1>Material Definition: {{material['name']}}.</h1>
    <ul id="material">
    <table>
        {% for key, value in material.items() %}
        <tr>
            <th>{{key}}</th>
            <td>{{value}} SI</td>
        </tr>
    {% endfor %}
    </table>
    </ul>
    
    <!--
      <form method="post" action="/">
         <input type="submit" value="Update" name="Update"/>
         <input type="submit" value="Delete" name="Delete" />
      </form>
    -->

    <button type="button" onclick="window.location.href='{{ url_for( 'urls.submit' ) }}';">Update</button>
    
</body>
</html>
