{
    "Name": "Axi Thermo-Magneto Quasi Static model",
    "ShortName":"AxiThermo-Mqs",
    "Models":
    {
		"equations":[
	    {
			"name":"heat",
			"unknown":
			{
		    	"basis":"Pch1",
		    	"name":"temperature",
		    	"symbol":"T"
			}
	    },
	    {
			"name":"magnetic",
			"unknown":
			{
			    "basis":"Pch2",
			    "name":"Atheta",
			    "symbol":"Atheta"
			}
	    }
		]
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}

		"T0":"293.",
		"Tin":"284.15"
    },
    "Materials":
    {
		"Air":
		{
	    	"physics":"magnetic",
	    	"magnetic_c":"x/mu0:x:mu0",
	    	"magnetic_a":"1/mu0/x:x:mu0"
		}
    },
    "BoundaryConditions":
    {
		"magnetic":
		{
		    "Dirichlet":
	    	{
				"magdir":
				{
		    		"markers":["ZAxis","Infty"],
		    		"expr":"0"
				}
			}
	    },
		"heat":
		{
	    	"Robin":
	    	{
				{{#boundary_Therm_Robin}}
				"{{name}}": 
				{ 
					"expr1": "{{expr1}}",
					"expr2": "{{expr2}}"
				},
				{{/boundary_Therm_Robin}}
	    	}
		}
    },
    "InitialConditions":
    {
        "temperature":
        {
            "Expression":
            {
                "myic":
                {
                    "markers": {{part_thermic}},
                    "expr":"Tinit:Tinit"
                }
            }
        }
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature"],
				"expr":
				{
		    		"atheta":"magnetic_Atheta:magnetic_Atheta",
		    		"B":
		    		{
						"expr":"{-magnetic_grad_Atheta_1,magnetic_grad_Atheta_0+magnetic_Atheta/x}:magnetic_grad_Atheta_0:magnetic_grad_Atheta_1:magnetic_Atheta:x",
						"representation":["element"]
		    		},
		    		"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers": {{part_electric}}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*(materials_U/(2*pi*x)+magnetic_dAtheta_dt):materials_sigma:materials_U:x:magnetic_dAtheta_dt",
						"markers": {{part_electric}}
		    		},
		    		"Qth":
		    		{
						"expr":"materials_sigma*(materials_U/(2*pi)+magnetic_dAtheta_dt*x)*(materials_U/(2*pi+magnetic_dAtheta_dt*x)):x:materials_sigma:materials_U:magnetic_dAtheta_dt",
						"markers": {{part_electric}}
		    		}
				}
	    	}
		},
		"magnetic":
		{
	    	"Measures": 
	    	{
				"Statistics":
				{
					"MagneticEnergy":
		    		{
						"type":"integrate",
						"expr":"-2*pi*magnetic_Atheta*materials_sigma*(materials_U/2/pi+magnetic_dAtheta_dt*x):magnetic_Atheta:magnetic_dAtheta_dt:materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		}
				}
	    	}
		},
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
		    		"MeanT": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		}
				}
	    	}
		}
    }
}
