{
    "Stats_Power":
    {
    {{#Power_H}}
    "{{header}}": 
    {
        "type": "integrate",
        "expr": "2*pi*materials_sigma*(materials_U/2/pi+magnetic_dphi_dt)*(materials_U/2/pi+magnetic_dphi_dt)/x:magnetic_dphi_dt:materials_sigma:materials_U:x",
        "markers": {{markers}}
    },
    {{/Power_H}}
    }
}
                    