directory={{method}}-{{model}}-{{geom}}-{{time}}-{{linear}}/{{name}}
case.dimension={{dim}}

[cfpdes]
filename=$cfgdir/{{jsonfile}}

mesh.filename=$cfgdir/{{mesh}}
# mesh.scale = {{scale}}
gmsh.partition={{partition}}

solver=Newton
verbose_solvertimer=1

ksp-monitor=1
snes-monitor=1
snes-maxit=40

pc-type=gamg

