{
    "Name": "ThermoElectric Axi Stationnary model",
    "ShortName":"AxiThermoElectricStat",
    "Models":
    {
		"equations":[
	    {
			"name":"heat",
			"unknown":
			{
		    	"basis":"Pch1",
		    	"name":"temperature",
		    	"symbol":"T"
			}
	    }
		]
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}
		
		"Tin":"284.15",		
		"T0":"293."
    },
    "Materials":
    {
		
    },
    "BoundaryConditions":
    {
		"heat":
		{
	    	"Robin":
	    	{
				{{#boundary_Therm_Robin}}
				"{{name}}":
				{
					"expr1": "{{expr1}}",
					"expr2": "{{expr2}}"
				},
				{{/boundary_Therm_Robin}}
	    	}
		}
    },
    "InitialConditions":
    {
        "temperature":
        {
            "Expression":
            {
                "myic":
                {
                    "markers": {{part_thermic}},
                    "expr":"Tinit:Tinit"
                }
            }
        }
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature"],
				"expr":
				{
		    		"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers": {{part_electric}}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*materials_U/(2*pi*x):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Qth":
		    		{
						"expr":"materials_sigma*(materials_U/(2*pi*x))*(materials_U/(2*pi*x)):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
					}
				}
	    	}
		},
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
		    		"Power":
				    {
        				"type": "integrate",
        				"expr": "2*pi*materials_sigma*(materials_U/2/pi)*(materials_U/2/pi)/x:materials_sigma:materials_U:x",
        				"markers": {{part_electric}}
    				},
				"MeanT": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		}
				}
	    	}
		}
    }
}
