{
    "name":"elastic1_{{name}}",
    "materials":"{{name}}",
    "setup":{
        "coefficients":{
            "gamma":"{-materials_{{name}}_stress_rr*x,-materials_{{name}}_stress_rz*x,- materials_{{name}}_stress_rz*x, -materials_{{name}}_stress_zz*x}:x:materials_{{name}}_stress_rr:materials_{{name}}_stress_rz:materials_{{name}}_stress_zz",
            "f":"{- materials_{{name}}_stress_thth,0}:materials_{{name}}_stress_thth"
        }
    }
}