{
    "Name": "Fully coupled Axi Transient model",
    "ShortName":"FullAxiTrans",
    "Models":
    {
		"cfpdes":{
			"equations":["heat","magnetic","elastic1","elastic2"]
		},
		"heat":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pch1",
						"name":"temperature",
						"symbol":"T"
					}
				}
			},
			"models":[
				
			]
		},
		"magnetic":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pch1",
						"name":"Atheta",
						"symbol":"Atheta"
					}
				}
			},
			"models":[
				{
					"name":"magnetic_Air",
					"materials":"Air",
					"setup":{
						"coefficients":{
							"c":"x/mu0:x:mu0",
							"a":"1/mu0/x:x:mu0"
						}
					}
				}
			]
		},
		"elastic1":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pchv1",
						"name":"displacement",
						"symbol":"u"
					}
				}
			},
			"models":[
				
			]
		},
		"elastic2":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pchv1",
						"name":"speed",
						"symbol":"v"
					}
				}
			},
			"models":[
				
			]
		}
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}
		
		"T0":"293.",
		"Tin":"284.15"
    },
    "Materials":
    {
		"Air":
		{

		}
    },
    "BoundaryConditions":
    {
		"magnetic":
		{
		    "Dirichlet":
	    	{
				"magdir":
				{
		    		"markers":["ZAxis","Infty"],
		    		"expr":"0"
				}
			}
	    },
		"heat":
		{
	    	"Robin":
	    	{
				{{#boundary_Therm_Robin}}
				"{{name}}":
				{
					"expr1": "{{expr1}}",
					"expr2": "{{expr2}}"
				},
				{{/boundary_Therm_Robin}}
			}
		},
		"elastic1":
		{
	    	"Dirichlet":
	    	{
				{{#boundary_Meca_Dir}}
				"{{name}}":
				{
					"expr": "{{value}}"
				},
				{{/boundary_Meca_Dir}}
	    	}
		}
    },
    "InitialConditions":
    {
		"heat":{
			"temperature":
			{
				"Expression":
				{
					"myic":
					{
						"markers": {{part_thermic}},
						"expr":"Tinit:Tinit"
					}
				}
			}
		}
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature","elastic1.displacement"],
				"expr":
				{
		    		"atheta":"magnetic_Atheta:magnetic_Atheta:x",
		    		"B":
		    		{
						"expr":"{-magnetic_grad_Atheta_1,magnetic_grad_Atheta_0+magnetic_Atheta/x}:magnetic_Atheta:magnetic_grad_Atheta_0:magnetic_grad_Atheta_1:x",
						"representation":["element"]
		    		},
		    		"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers": {{part_electric}}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*(materials_U/(2*pi)+magnetic_dAtheta_dt*x)/x:magnetic_dAtheta_dt:materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Qth":
		    		{
						"expr":"materials_sigma*(materials_U/(2*pi)+magnetic_dAtheta_dt*x)*(materials_U/(2*pi)+magnetic_dAtheta_dt*x):x:magnetic_dAtheta_dt:materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Flaplace":
		    		{
						"expr":"{materials_F_laplace_0,materials_F_laplace_1}:materials_F_laplace_0:materials_F_laplace_1",
						"markers": {{part_electric}}
		    		},
		    		"stress":
		    		{
						"expr":"{materials_stress_rr,materials_stress_rz, materials_stress_rz,materials_stress_zz}:materials_stress_rr:materials_stress_rz:materials_stress_zz",
						"markers": {{part_thermic}},
						"representation":["element"]
		    		},
		    		"HoopStress":
		    		{
						"expr":"materials_stress_thth:materials_stress_thth",
						"markers": {{part_thermic}},
						"representation":["element"]
		    		},
		    		"Vonmises":
		    		{
						"expr": "sqrt(1/2*((materials_stress1-materials_stress2)*(materials_stress1-materials_stress2)+(materials_stress2-materials_stress3)*(materials_stress2-materials_stress3)+(materials_stress1-materials_stress3)*(materials_stress1-materials_stress3))):materials_stress1:materials_stress2:materials_stress3",
						"markers": {{part_thermic}},
						"representation":["element"]
		    		},
		    		"strain":
		    		{
						"expr":"{elastic1_grad_u_00,1/2*(elastic1_grad_u_01+elastic1_grad_u_10), 1/2*(elastic1_grad_u_01+elastic1_grad_u_10),elastic1_grad_u_11}:elastic1_grad_u_00:elastic1_grad_u_01:elastic1_grad_u_10:elastic1_grad_u_11",
						"markers": {{part_thermic}},
						"representation":["element"]
		    		},
					"HoopStrain":
					{
						"expr": "elastic1_u_0/x:x:elastic1_u_0",
						"markers": {{part_thermic}},
						"representation":["element"]
					}
				}
	    	}
		},
		"magnetic":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["Atheta"]
				}
	    	},
	    	"Measures": 
	    	{
				"Statistics":
				{
		    		"MagneticEnergy":
		    		{
						"type":"integrate",
						"expr":"-2*pi*magnetic_Atheta*materials_sigma*(materials_U/2/pi+magnetic_dAtheta_dt*x):magnetic_dAtheta_dt:magnetic_Atheta:materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		}
				}
	    	}
		},
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
		    		"Power":
				    {
        				"type": "integrate",
        				"expr": "2*pi*materials_sigma*(materials_U/2/pi+magnetic_dAtheta_dt*x)*(materials_U/2/pi+magnetic_dAtheta_dt*x)/x:magnetic_dAtheta_dt:materials_sigma:materials_U:x",
        				"markers": {{part_electric}}
    				},
				"MeanT": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		}
				}
	    	}
		},
		"elastic1":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["displacement"]
				}
	    	}
		},
		"elastic2":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["speed"]
				}
	    	}
		}
    }
}
