{
    "name":"magnetic_{{name}}",
    "materials":"{{name}}",
    "setup":{
        "coefficients":{
            "c":"x/materials_{{name}}_mu:x:materials_{{name}}_mu",
            "a":"1/materials_{{name}}_mu/x:x:materials_{{name}}_mu"
        }
    }
}