{
    "{{name}}":
{
    "sigma":"{{ElectricalConductivity}}",
    "k":"{{ThermalConductivity}}",
    "rho":"{{VolumicMass}}",
    "Cp":"{{SpecificHeat}}",

    "mu": "{{MagnetPermeability}}*mu0:mu0",

    "E":"{{Young}}",
    "nu":"{{Poisson}}",
    "alphaT":"{{CoefDilatation}}",

    "U":"U_{{name}}:U_{{name}}",

    "filename": "$cfgdir/conductor-cfpdes-thmqsel-Axi.json"
}
}
