{
    "name":"heat_{{name}}",
    "materials":"{{name}}",
    "setup":{
        "coefficients":{
            "c":"materials_{{name}}_k*x:materials_{{name}}_k:x",
            "f":"materials_{{name}}_sigma*materials_{{name}}_U/(2*pi)*materials_{{name}}_U/(2*pi)/x:materials_{{name}}_sigma:materials_{{name}}_U:x",
            "d":"materials_{{name}}_rho*materials_{{name}}_Cp*x:materials_{{name}}_rho:materials_{{name}}_Cp:x"
        }
    }
}