{
    "{{name}}":
{
    "k":"{{ThermalConductivity}}",
    "mu": "{{MagnetPermeability}} * mu0:mu0",

    "E":"{{Young}}",
    "nu":"{{Poisson}}",
    "alphaT":"{{CoefDilatation}}",

    "filename":"$cfgdir/insulator-cfpdes-thmqsel-Axi.json"
}
}