{
    "{{name}}":
    {
        "sigma":"{{ElectricalConductivity}}",
        "mu": "{{MagnetPermeability}} * mu0:mu0",

        "filename":"$cfgdir/conduct-nosource-cfpdes-mqs_hcurl-Axi.json"
    }
}
