{
    "Stats_Current":
    {
    {{#Current_H}}
    "Intensity_%1%": 
    {
        "type": "integrate",
        "expr": "-materials_sigma*(materials_U/2/pi/x+magnetic_dAtheta_dt):magnetic_dAtheta_dt:materials_sigma:materials_U:x",
        "markers": "%1%",
        "index1": {{part_electric}}
    },
    {{/Current_H}}
    }
}
                    