{
   "Flux":
   {
   "Flux_Channel%1%":
   {
      "type": "integrate",
      "expr": "hw*(heat_T-(Tw+dTw))*2*pi*x:x:heat_T:hw:Tw:dTw",
      "markers": "Channel%1%",
      "index1": "{{index_h}}"
   }
   }
}
