{
    "Stats_Power":
    {
    {{#Power_H}}
    "{{header}}": 
    {
        "type": "integrate",
        "expr": "2*pi*materials_sigma*(materials_U/2/pi)*(materials_U/2/pi)/x:materials_sigma:materials_U:x",
        "markers":{{markers}}
    },
    {{/Power_H}}
    }
}
                    