{
    "{{name}}":
{
    "sigma":"{{ElectricalConductivity}}",
    "mu": "{{MagnetPermeability}} * mu0:mu0",

    "U":"U_{{name}}:U_{{name}}",

    "filename": "$cfgdir/conductor-cfpdes-mag-Axi.json"
}
}