{
    "Stats_Current":
    {
    {{#Current_H}}
    "Intensity_%1%": 
    {
        "type": "integrate",
        "expr": "-materials_%1%_sigma*(materials_%1%_U/2/pi)/x:materials_%1%_sigma:materials_%1%_U:x",
        "markers": "%1%",
        "index1": {{part_electric}}
    },
    {{/Current_H}}
    }
}
                    