{% extends "layout/default.html" %}

{% block content %}
  <div class="form-wrapper">
    <h2 class="title">Part Update</h2>

    <form method="POST" action="{{ url_for('update_part', id=id) }}">
      <!-- {{ form.name(readonly=true) }} -->
      {{ form.csrf_token }}
      {% for field in form %}
        <fieldset class="form-field">
            {{ field.label }}
            <!-- type shall be inferred not possible to change it -->
            {% if field.label.text == "Name" or field.label.text == "Type" %}
            {{ field(readonly=true) }}
            {% else %}
            {{ field }}
            {% endif %}
        </fieldset>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
