directory={{method}}-{{model}}{{geom}}-{{time}}-{{linear}}/{{name}}
case.dimension={{dim}}

[cfpdes]
filename=$cfgdir/{{jsonfile}}

mesh.filename=$cfgdir/{{mesh}}
# mesh.scale = {{scale}}
gmsh.partition={{partition}}


ksp-monitor=1

# Fieldsplit
pc-type=fieldsplit
fieldsplit-type=additive #additive, multiplicative, symmetric-multiplicative
[cfpdes.fieldsplit-0]
pc-type=gamg
[cfpdes.fieldsplit-1]
pc-type=gamg

