{
    "Name": "ThermoElectric NL 3D Stationnary model",
    "ShortName":"3DNLThermoElectricStat",
    "Models":
    {
		"equations":
	    [
            {
                "name":"electric",
                "unknown": 
                {
                    "basis":"Pch1",
                    "name":"V",
                    "symbol":"V"
                }
            },
            {
                "name":"heat",
                "unknown":
                {
                    "basis":"Pch1",
                    "name":"temperature",
                    "symbol":"T"
                }
            }
	    ]
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}

		"T0":"293.",
		"Tin":"284.15"
    },
    "Materials":
    {
		
    },
    "BoundaryConditions":
    {
		"electric":
		{
	    	"Dirichlet":
	    	{
				{{#boundary_Electric_Dir}}
				"{{name}}": { expr: "{{value}}"}
				{{/boundary_Electric_Dir}}
	    	},
			"Neumann":
			{
				{{#boundary_Electric_Neu}}
				"{{name}}": { expr: "{{value}}"}
				{{/boundary_Electric_Neu}}
			}
		},
		"heat":
		{
	    	"Robin":
	    	{
				{{#boundary_Therm_Robin}}
				"{{name}}": 
				{ 
					expr1: "{{expr1}}",
					expr2: "{{expr2}}"
				}
				{{/boundary_Therm_Robin}}
	    	}
	    	"Neumann":
	    	{
				{{#boundary_Therm_Neu}}
				"{{name}}": 
				{ 
					expr: "{{value}}"
				}
				{{/boundary_Therm_Neu}}
	    	}
		}
    },
    "InitialConditions":
    {
        "temperature":
        {
            "File":
            {
                "myic":
                {
                    "filename": "{{temperature_initfile}}",
                    "format":"hdf5"
                }
            }
        },
        "V":
        {
            "File":
            {
                "myic":
                {
                    "filename": "{{V_initfile}}",
                    "format": "hdf5"
                }
            }
        }
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature"],
				"expr":
				{
		    		"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers": {part_electric}}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*materials_U/(2*pi*x):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Qth":
		    		{
						"expr":"materials_sigma*(materials_U/(2*pi*x))*(materials_U/(2*pi*x)):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
						}
		    		}
				}
	    	}
		},
		"electric":
		{
			"Save":
	    	{
				"Fields":
				{
		    		"names":["V"]
				}
	    	}
		}
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
					"MeanT": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		}
				}
	    	}
		}
    }
}
