{
    "Channel{{i}}":
{
    "expr1":"-hw:hw",
    "expr2":"-hw*(Tw*(z<Zmin{{i}}) + (dTw/(Zmax{{i}}-Zmin{{i}})*(z-Zmin{{i}})+Tw{{i}})*(z>Zmin{{i}})*(z<Zmax{{i}}) + (Tw+dTw)*(z>Zmax{{i}})):z:hw:Tw:dTw:Zmin{{i}}:Zmax{{i}}
}
}