{
   "Flux":
   {
   "Flux_Channel%1%":
   {
      "type": "integrate",
      "expr": "h%1%*(heat_T-(Tw%1%+dTw%1%)):heat_T:h%1%:Tw%1%:dTw%1%",
      "markers": "Channel%1%",
      "index1": "{{index_h}}"
   }
   }
}
