{
    "Stats_Power":
    {
    {{#Power_H}}
    "{{header}}": 
    {
        "type": "integrate",
        "expr": "materials_sigma*(electric_grad_P_0^2+electric_grad_P_1^2+electric_grad_P_2^2):materials_sigma:electric_grad_P_0:electric_grad_P_1:electric_grad_P_2",
        "markers": "{{name}}"
    },
    {{/Power_H}}
    }
}
                    