{
    "{{name}}":
{
    "alpha":"{{alpha}}",
    "sigma":"{{ElectricalConductivity}}",
    "k":"{{ThermalConductivity}}",
    "mu": "{{MagnetPermeability}}*mu0:mu0",
    "rho":"{{VolumicMass}}",
    "Cp":"{{SpecificHeat}}",

    "filename":"$cfgdir/conduct-nosource-cfpdes-thmqs-Axi.json"}
}
