{
    "{{name}}":
{
    "sigma":"{{ElectricalConductivity}}",
    "k":"{{ThermalConductivity}}",
    "mu": "{{MagnetPermeability}}*mu0:mu0",
    "rho":"{{VolumicMass}}",
    "Cp":"{{SpecificHeat}}",

    "U":"U_{{name}}:U_{{name}}",
    "filename": "$cfgdir/conductor-cfpdes-thmqs-Axi.json"
}
}