{
    "{{name}}":
{
    "k":"{{ThermalConductivity}}",
    "mu": "{{MagnetPermeability}}*mu0:mu0",
    "rho":"{{VolumicMass}}",
    "Cp":"{{SpecificHeat}}",

    "filename":"$cfgdir/insulator-cfpdes-thmqs-Axi.json"
}
}