
{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Material Update</h2>

      <form method="POST" action="{{ url_for('urls.submit') }}">

          <fieldset class="form-field">
              {{ form.csrf_token }}
              {{ form.name.label }}
              {{ form.name(size=20) }}
          </fieldset>

          {{ form.submit }}

      </form>
    </div>
    
    {% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
    