
{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Material Update</h2>

      <form method="POST" action="{{ url_for('urls.submit', id=id) }}">
        <!-- {{ form.name(readonly=true) }} -->
        {{ form.csrf_token }}
        {% for field in form %}
        {% if field.label.text == "Name" %}
        <fieldset class="form-field">
            {{ field.label }}
            {{ field(readonly=true) }}
        </fieldset>
        {% else %}
            {% if field.type == "FloatField" or field.type == "StringField" %}
            <fieldset class="form-field">
              {{ field.label }}
              {{ field }}
            </fieldset>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- <button type="button" onclick="window.location.href='{{ url_for( 'urls.index' ) }}';">Submit</button> -->
        <input type="submit" value="Submit">
      </form>
    </div>
{% endblock %}
    