{% extends "layout/default.html" %}

{% block content %}
  <div class="form-wrapper">
    <h2 class="title">Geometry Update</h2>

    <form method="POST" action="{{ url_for('update_geom', gname=gname) }}">
      <!-- {{ form.name(readonly=true) }} -->
      {{ form.csrf_token }}
      {% for field in form %}
          <fieldset class="form-field">
            {{ field.label }}
            {{ field(readonly=true) }}
          </fieldset>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
