<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

<title>MRecord Definition: {{mrecord['name']}}.</title>
</head>
<body>
    <h1>MRecord Definition: {{mrecord['name']}}.</h1>
    <ul id="mrecord">
    <table>
        {% for key, value in mrecord.items() %}
        <tr>
            <th>{{key}}</th>
            <td>{{value}}</td>
        </tr>
    {% endfor %}
    </table>
    </ul>
</body>
</html>
