directory={{method}}-{{model}}-{{geom}}-{{time}}-{{linear}}/{{name}}
case.dimension={{dim}}

[cfpdes]
filename=$cfgdir/{{jsonfile}}

mesh.filename=$cfgdir/{{mesh}}
# mesh.scale = {{scale}}
gmsh.partition={{partition}}

ksp-monitor=1

pc-type=gamg

