{
    "Name": "Axi Magneto Stationnary model",
    "ShortName":"AxiMagnetoStatic",
    "Models":
    {
		"cfpdes":{
			"equations":"magnetic"
		},
		"magnetic":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pch1",
						"name":"Atheta",
						"symbol":"Atheta"
					}
				}
			},
			"models":[
				{
					"name":"magnetic_Air",
					"materials":"Air",
					"setup":{
						"coefficients":{
							"c":"x/mu0:x:mu0",
							"a":"1/mu0/x:x:mu0"
						}
					}
				}
			]
		}
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}

		"T0":"293."
    },
    "Materials":
    {
		"Air":
		{
	    	
		}
    },
    "BoundaryConditions":
    {
		"magnetic":
		{
		    "Dirichlet":
	    	{
				"magdir":
				{
		    		"markers":["ZAxis","Infty"],
		    		"expr":"0"
				}
			}
	    }
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"expr":
				{
		    		"atheta":"magnetic_Atheta:magnetic_Atheta",
		    		"B":
		    		{
						"expr":"{-magnetic_grad_Atheta_1,magnetic_grad_Atheta_0+magnetic_Atheta/x}:magnetic_Atheta:magnetic_grad_Atheta_0:magnetic_grad_Atheta_1:x",
						"representation":["element"]
		    		},
					"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers": {{part_electric}}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*materials_U/(2*pi*x):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		}
				}
	    	}
		},
		"magnetic":
		{
	    	"Measures": 
	    	{
				"Statistics":
				{
		    		"MagneticEnergy":
		    		{
						"type":"integrate",
						"expr":"-2*pi*magnetic_Atheta*materials_sigma*(materials_U/2/pi):magnetic_Atheta:materials_sigma:materials_U",
						"markers": {{part_electric}}
		    		}
				},
				"Points":
				{
				"B0":
				{
                                    "coord":"{1e-7,0.}",
                                    "fields":"Atheta",
			            "expressions":
                                    {
                                          "Bz": "magnetic_grad_Atheta_0+magnetic_Atheta/x:magnetic_Atheta:magnetic_grad_Atheta_0:magnetic_grad_Atheta_1:x"
                                    }
				}
                                }
		}
                }
    }
}
